// This is your Prisma schema file,
// learn more about it in the docs: https://pris.ly/d/prisma-schema

generator client {
    provider = "prisma-client-js"
}

datasource db {
    provider = "postgresql"
    url      = env("DATABASE_URL")
}

model InvArticle {
    articlecode  String   @id
    articlename  String
    vendorkey    String
    vendorname   String
    categoryinit String
    categoryname String
    typeinit     String
    typename     String
    startdate    DateTime
    expiredate   DateTime
    colourinit   String
    colourname   String
    sex          String
    picture      String
    baseprice    Int
    saleprice    Int
    notes        String
    logdate      DateTime @default(now())

    @@map("invarticle")
}
